.board-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.board {
  width: 550px;
  height: 550px;
  border: 5px solid #e9b961;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
}

.board-row {
  /* font-size: 0; */
  line-height: 0;
  display: flex;
  flex-direction: row;
  flex: 1;
}
