.tile {
  /* width: 55px; */
  /* height: 55px; */
  /* display: inline-block; */
  flex: 1;
}

.tile-white {
  background-color: #fff;
}

.tile-black {
  background-color: #555;
}

.tile-highlighted {
  background-color: lightblue !important;
  /* border: 2px solid black; */
}
